.logobar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: clamp(64px, 6vw, 120px);
  
  .logo {
    height: 40%;
    width: auto;          
    object-fit: contain;  
    flex: 0 0 auto;       
    filter: grayscale(100%);
    display: block;       
    max-width: 95%;      
  }

  /* 2 rzędy po 3 logo */
  @media (max-width: 1200px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

 
    height: auto;
    padding: 16px 0;

    .logo {
 
      flex: 0 0 calc(33.333% - 16px);
      height: 42px;   
      width: auto;
      max-width: 100%;
    }
    @media (max-width: 600px){
        .logo{
            height: 30px;
        }
    }
  }
}
